{% extends 'board/error.html' %}{% load i18n %}
{% block error_title %}{% translate "Obrazac nije poslan" %}{% endblock %}
{% block eyebrow %}{% translate "Greška" %} 403{% endblock %}
{% block heading %}{% translate "Obrazac nije poslan." %}{% endblock %}
{% block text %}{% translate "Stranica je možda bila predugo otvorena, ili su kolačići u pregledniku isključeni. Vratite se, osvježite stranicu i pošaljite obrazac ponovo." %}{% endblock %}
{% block secondary %}<a class="button-secondary" href="{% url 'report' %}">{% translate "Otvori obrazac ponovo" %}</a>{% endblock %}
